<!DOCTYPE html>
<html ng-app="kickAssFoosball">
  <head>
  <script src="app/angular.js"></script>
  <script src="app/timer.js"></script>
  <script src="app/docs.js"></script>
  <script src="app/script.js"></script>
  <link type="text/css" href="stylesheet/bootstrap.css" rel="stylesheet">
  <link type="text/css" href="stylesheet/style.css" rel="stylesheet">
  <meta charset=utf-8 />
  <title>Foosball</title>
</head>
<body ng-controller="ctrl" ng-keypress="recordInput($event)">
  <div ng-show="newgame"></div>
  <div ng-show="VS"></div>
  <div ng-show="championship" class="title">BOSS TOAD TOURNAMENT</div>
  <div ng-hide="championship" class="title">Foosball!</div>
  <div class="center">
    <div class="player-images">
      <ul>
        <li class="scorers"><img class="playeravatar avatar1" src="players/{{avatar1}}.jpg"></li>
        <li class="scorers"><img class="playeravatar avatar2" src="players/{{avatar2}}.jpg"></li>
      </ul>
    </div>

    <section>
      <div>
        <h3 class="timer">
            <timer interval="1000">{{mminutes}} : {{sseconds}} </timer>
        </h3>
      </div>
    </section>

    <div class="score-keeping">
      <div>
        <ul>
          <li class="scoreboardtext player1score">{{player2}}</li>
          <li class="scoreboardtext player2score">{{player1}}</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="scoreboardtext goal spin-around" ng-show="goal">
        <div>GOAL!</div>
      </div>
      <div ng-show="finishthem" class="finishthem">
        <div>FINISH THEM!</div>
      </div>
      <div class="game-messages">  
        <ul class="col-lg-6 col-lg-offset-3">
          <li class="scoreboardtext col-lg-6 playermessage message2" ng-show="message2">{{message2}}</li>
          <li class="scoreboardtext col-lg-4 col-lg-offset-2 playermessage message1" ng-show="message1">{{message1}}</li>
        </ul>
      </div>  
    </div>
<!--     This is all the code for Peter's Tournament Mode
    <div ng-if="player1Rounds == 3 || player2Rounds == 3" class="center tournywin">
      This was Peter's score marker
      <img ng-if="player1Rounds >= 1" class="scoremarker sm11" src="images/scoremarker.png">
      <img ng-if="player1Rounds >= 2" class="scoremarker sm12" src="images/scoremarker.png">
      <img ng-if="player1Rounds >= 3" class="scoremarker sm13" src="images/scoremarker.png">
      <img ng-if="player2Rounds >= 1" class="scoremarker sm21" src="images/scoremarker.png">
      <img ng-if="player2Rounds >= 2" class="scoremarker sm22" src="images/scoremarker.png">
      <img ng-if="player2Rounds >= 3" class="scoremarker sm23" src="images/scoremarker.png">
      This is Angular ng-if statements
      <div style="width:90%" class="center">Tournament Win!</div>
      <div class="tournyavatar"><img ng-if="player1Rounds == 3" class="championavatar" src="players/{{avatar1}}.jpg"></div>
      <div class="tournyavatar"><img ng-if="player2Rounds == 3" class="championavatar" src="players/{{avatar2}}.jpg"></div>
      <div class="center" style="width:72%" ng-if="player1Rounds == 3">Yellow Player</div>
      <div style="width:72%" class="center" ng-if="player2Rounds == 3">Black Player</div>
    </div> -->
  </div>
</body>
</html>