.playerimg {
	position: absolute;
	margin-top: 4%;
}
.center {
	width: 50%;
	margin: 0 auto;
}
.playerimg1 {
	margin-left: -15%;
}
.playerimg2 {
	margin-left: 3%;
}
.scoreboard {
	margin-top: 5%;
}
.title {
	font-size: 83px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background-color: orange;
	text-align: center;
}

.playeravatar {
	position: absolute;
}	
.avatar1 {
	margin-top: 4%;
	margin-left: -44%;	
}
.avatar2 {
	margin-top: 4%;
	margin-left: -10%;
}
.scoreboardtext {
	font-size: 95px;
	color: white;
	position: absolute;
}
.minute {
	margin-top: 3%;
	margin-left: -31%;
}
.second {
	margin-top: 3%;
	margin-left: -21%;
}
.player1score {
	margin-top: 12%;
	margin-left: -44%;
	font-size: 225px;
}
.player2score {
	margin-top: 12%;
	margin-left: -11%;
	font-size: 225px;
}
.goal {
	margin-top: 16%;
	margin-left: -34%;
	color: orange;
}

.playermessage {
	margin-top: 24%;
	font-size: 58px;
	text-shadow: 2px 2px black;
	color: orange;
}
.message1 {
	margin-left: -70%;
}
.message2 {
	margin-left: 1%;
}

.finishthem {
	margin-top: 16%;
	font-size: 101px;
	text-shadow: 2px 2px black;
	color: red;
	position: absolute;
	margin-left: -49%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background-color: orange;
}

.player1scoreChamp {

}

.scoremarker {
	position: absolute;
	margin-top: 13%;
}

.sm11 {
	margin-left: -44%;
}

.sm12 {
	margin-left: -41%;
}

.sm13 {
	margin-left: -38%;
}

.sm21 {
	margin-left: -10%;
}

.sm22 {
	margin-left: -7%;
}

.sm23 {
	margin-left: -4%;
}

.tournywin {
	font-size: 101px;
	text-shadow: 2px 2px black;
	color: red;
	position: absolute;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background-color: orange;
	margin-left: 15%;
	margin-top: -30%;
	width: 66%;
}

.tournyavatar {
	margin: 0 auto;
	width: 17%;
}